$brand: #00458e;
$heading: #0a0a0a;
$text: #6b6b6b;
$dark-text: #fffc;
$brand-gradient: linear-gradient(97deg, #000328 0%, #00458e 60.16%);
$brand-light: rgba(53, 132, 216, 0.26);
$background: #e1e1e1;
